# exculude files in data dir
/data/moodledata/*
!.gitkeep
/data/mysql/*
!.gitkeep
# exclude files in moodle dir
/public_html/moodle/*
!.gitkeep
# exclude files in mod_newmodule dir
/moodle-mod_newmodule/*
# exclude file in test.php
/public_html/test.php